// Typography ---------------------------------

$blueprint-font-size: 12px;

$blueprint-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
$blueprint-fixed-font-family: "andale mono", "lucida console", monospace;

$font-color: $black-color;
$link-color: $blue-color;
$link-hover-color: $black-color;
